/* @plugin "daisyui"; */
/* @plugin "flowbite/plugin"; */
/* https://tailwindcss.com/docs/preflight */
/* https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css */

@font-face {
  font-family: 'Nunito-Regular';
  src: url('styles/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Black';
  src: url('styles/fonts/Nunito/Nunito-Black.ttf') format('truetype');
}

@import "tailwindcss";

/* Custom Themes for color, fonts etc goes here */
@theme {
  --font-Nunito-Regular: Nunito-Regular, "sans-serif";
  --font-Nunito-Black: Nunito-Black, "sans-serif";
}

html, body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100svh;
  font-family: Arial, Helvetica, sans-serif;
}