/* https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css */

@font-face {
  font-family: 'Nunito-Regular';
  src: url('styles/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('styles/fonts/Nunito/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('styles/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('styles/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url('styles/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Black';
  src: url('styles/fonts/Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'PencilpeteFont';
  src: url('styles/fonts/pencilpete-font/PencilpeteFont-2eE3.ttf') format('truetype');
}

@font-face {
  font-family: 'DkCrayonCrumble';
  src: url('styles/fonts/dk-crayon-crumble-font/DkCrayonCrumble-ddll.ttf') format('truetype');
}
@font-face {
  font-family: 'ChalkLineOutline';
  src: url('styles/fonts/chalk-line-outline-font/ChalkLineOutline-2jpe.ttf') format('truetype');
}
@import "tailwindcss";
@plugin "daisyui";

/* Custom Themes for color, fonts etc goes here */
@theme {
  --font-Nunito-Regular: Nunito-Regular, "sans-serif";
  --font-Nunito-Medium: Nunito-Medium, "sans-serif";
  --font-Nunito-SemiBold: Nunito-SemiBold, "sans-serif";
  --font-Nunito-Bold: Nunito-Bold, "sans-serif";
  --font-Nunito-ExtraBold: Nunito-ExtraBold, "sans-serif";
  --font-Nunito-Black: Nunito-Black, "sans-serif";
  --font-PencilpeteFont: PencilpeteFont, "sans-serif";
  --font-DkCrayonCrumble: DkCrayonCrumble, "sans-serif";
  --font-ChalkLineOutline: ChalkLineOutline, "sans-serif";
}

html, body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100svh;
  font-family: Arial, Helvetica, sans-serif;
}